<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainContent">


<br><br><br>


    <body class="text-center" >
    <div class="container">
    <main class="form-signin w-100 m-auto">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.passworderror!=null}">
            Passwords are not same!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.usererror!=null}">
            Email is busy!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.success!=null}">
            User created successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <form th:action="@{'/signup'}" method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="user_email">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="user_password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword2" placeholder="Repeat password" name="user_re_password">
                <label for="floatingPassword2">Repeat password</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingFullname" placeholder="Full name" name="user_full_name">
                <label for="floatingFullname">Full name</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary" >Sign up</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
        </form>
    </main>

    </div>

    </body>






<!--<div class="container">-->
<!--    <h1>Доброе утро</h1>-->
<!--    <a th:href="@{'/home'}">Home</a>-->
<!--    <form th:action="@{'/enter'}" method="post">-->
<!--        <label>Email:</label>-->
<!--        <input type="email" name="user_email">-->
<!--        <label>Password:</label>-->
<!--        <input type="password" name="user_password">-->
<!--        <button>Sign in</button>-->
<!--    </form>-->
</div>
</html>