<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">trello.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">All Folders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<br><br><br>

<div class="container">
<br><br>
<button type="button" class="btn btn-dark" data-bs-target="#addFolder" data-bs-toggle="modal">+New Folders</button>
<br><br>
</div>
    <div class="container marketing mt-2">
        <div class="row">
            <div class="card" th:each="folder: ${folderz}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${folder.name}"></h5>
                    <a th:href="@{'/folder-detail/'+${folder.id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
         </div>
      </div>

<div class="modal" tabindex="-1" id="addFolder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{'/add-folder'}" method="post">
            <div class="modal-body">
                <p>Folder name:</p>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">Add folder</button>
            </div>
          </form>
        </div>
    </div>
</div>
</body>
</html>