<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
<!--
   /   Multipurpose: Free Template by FreeHTML5.co
   /   Author: https://freehtml5.co
   /   Facebook: https://facebook.com/fh5co
   /   Twitter: https://twitter.com/fh5co
   -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
<title>Multipurpose</title>
<!-- Stylesheets & Fonts -->
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
      rel="stylesheet">
<!-- Plugins Stylesheets -->
<link rel="stylesheet" href="css/loader/loaders.css">
<link rel="stylesheet" href="css/font-awesome/font-awesome.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/aos/aos.css">
<link rel="stylesheet" href="css/swiper/swiper.css">
<link rel="stylesheet" href="css/lightgallery.min.css">
<!-- Template Stylesheet -->
<link rel="stylesheet" href="css/style.css">
<!-- Responsive Stylesheet -->
<link rel="stylesheet" href="css/responsive.css">
<link href="sign-in.css" rel="stylesheet">