<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Small Business - Start Bootstrap Template</title>

  <link rel="icon" type="image/x-icon" href="/src/favicon.ico" />

  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="#!">Мой KZ</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" >Домой</a></li>
        <li class="nav-item"><a class="nav-link" href="#!" >Язык</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Регион</a></li>
        <li class="nav-item" data-bs-target="#signUp" data-bs-toggle="modal"><a class="nav-link" href="#!">Регистрация</a></li>
        <li class="nav-item" data-bs-target="#signIn" data-bs-toggle="modal"><a class="nav-link" href="#!">Войти</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Какое то название</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Какое то подназвание</li>
    </ol>
    <div class="row">
      <div class="col-xl-3 col-md-6" th:each="c: ${categoriez}">
        <div class="card bg-warning text-white mb-4">
          <img src="/src/hero_2.jpg" class="card-img-top" alt="...">
          <div class="card-body" th:text="${c.name}"></div>
            <div class="card-body" th:text="${c.description}"></div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" th:href="@{'/category-places/'+${c.id}}">Подробнее</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
      </div>
    </div>
  </div>
  </div>
</main>

  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">Казахстан занимает территорию 2 млн 724,9 тыс квадратных километров, страна находится на девятом месте по площади в мире.
      Казахстан – самая крупная страна в мире, которая не имеет прямого выхода в Мировой океан.
      Большую часть территории страны составляют пустыни – 44% и полупустыни – 14%.
      Степи занимают 26% площади Казахстана, леса – 5,5%. В стране насчитывается 8,5 тысяч рек.
      Северо-восточная часть акватории Каспийского моря входит в пределы республики.
      В Казахстане есть 48 тысяч больших и малых озер.
      Самые крупные из них – Балхаш, Зайсан и Алакол. Удаленность от океанов обусловливает резко континентальный климат страны.</p></div>
  </div>

  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Популярные сейчас</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Новости туризма</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Погода</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="signIn" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Введите данные</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{'/enter'}" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Эл.почта</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="name@example.com" name="user_email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="введите пароль" name="user_password">
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button class="btn btn-primary">Войти</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="modal" id="signUp" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Введите данные</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.passworderror!=null}">
          Passwords are not same!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.usererror!=null}">
          Email is busy!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.success!=null}">
          User created successfully!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form th:action="@{'/signup'}" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Эл.почта</label>
            <input type="email" class="form-control" id="exampleInputEmail2"
                   aria-describedby="emailHelp" placeholder="name@example.com" name="user_email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword2"
                   placeholder="введите пароль" name="user_password">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Повторите пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword3"
                   placeholder="повторите пароль" name="user_re_password">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Ф.И.О.</label>
            <input type="text" class="form-control" id="exampleInputEmail3"
                   aria-describedby="emailHelp" name="user_full_name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
