<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Small Business - Start Bootstrap Template</title>
  <link rel="icon" type="image/x-icon" href="/src/favicon.ico" />
  <link href="/css/styles.css" rel="stylesheet" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/css/styless.css" rel="stylesheet" />
  <link href="/css/stylesss.css" rel="stylesheet" />
</head>
<body class="sb-nav">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <img th:src="@{'/src/heart.png'}" class="m-lg-2">
    <a class="navbar-brand" th:href="@{'/home'}">Мой Казахстан</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Фари</div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutss" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Выберите регион
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayoutss" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav" th:each="reg: ${regionz}">
              <a class="nav-link" th:href="@{'/category_region_places/'+${reg.id}+'/'+${categoriez.id}}" th:text="${reg.name}"></a>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" th:href="@{'/wantVisit'}" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Список избранных мест кабинет
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{'/wantVisit'}">Хочу посетить</a>
              <a class="nav-link" href="layout-sidenav-light.html">Другое</a>
            </nav>
          </div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Страницы
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                Аутентификация
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="login.html">Login</a>
                  <a class="nav-link" href="register.html">Register</a>
                  <a class="nav-link" href="password.html">Сменить пароль</a>
                </nav>
              </div>
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                Error
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="401.html">401 Page</a>
                  <a class="nav-link" href="404.html">404 Page</a>
                  <a class="nav-link" href="500.html">500 Page</a>
                </nav>
              </div>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading"></div>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small"></div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <br>
      <div class="container">
        <div class="row">
          <!-- Blog entries-->
          <div class="col-lg-8" >
            <!-- Featured blog post-->
            <div class="card mb-4">

              <a href="#!"><img class="card-img-top" th:src="@{'data:image/jpeg;base64,' + ${onePlace.image}}" width="100%" height="350" alt="..." /></a>

              <div class="card-body" th:if="${onePlace!=null}">
                <input type="hidden" th:value="${onePlace.id}" id="placeId" name="placeId">
                <div class="small text-muted" th:text="${onePlace.localDate}"></div>
                <h1 class="card-title" th:text="${onePlace.name}"></h1>
                <b><p class="card-text" th:text="${onePlace.description}"></p></b>
                <p class="card-text" th:text="${onePlace.history}"></p>
                <div class="d-flex justify-content-between tm-text-gray">
                  <form th:action="@{'/addFavPlaces'}" method="post">
                    <input type="hidden" th:value="${onePlace.name}" name="name">
                    <input type="hidden" th:value="${onePlace.description}" name="description">
                    <input type="hidden" th:value="${onePlace.id}" name="placeId">
                  <button type="submit" class="form-control" style="color: darkturquoise">Хочу посетить + </button>
                </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                  <a href="#!"><img class="card-img-top" th:src="@{'data:imagethree/jpeg;base64,' + ${onePlace.imagethree}}" width="50%" height="250" alt="..." /></a>
                  <div class="card-body">
                    <div class="small text-muted">January 1, 2022</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                  <a href="#!"><img class="card-img-top" th:src="@{'data:imagetwo/jpeg;base64,' + ${onePlace.imagetwo}}" width="100%" height="250" alt="..." /></a>
                  <div class="card-body">
                    <div class="small text-muted">January 1, 2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Side widgets-->
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-header">Добавить комментарий</div>
              <div class="card-body">
                <div class="row">
                    <div class="card-footer py-3 border-0" style="background-color: white;">
                      <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                             height="40" />
                        <div class="form-outline w-100">
                           <textarea class="form-control" id="commentText" rows="4"
                                     style="background: #fff;"></textarea>
                        </div>
                        <input type="hidden" id="plId">
                      </div>
                      <div class="float-end mt-2 pt-1">
                        <button id="postComment" type="button" class="btn btn-primary btn-sm" >Добавить</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">Отмена</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
              <div class="card-header">Комментарии</div>
              <div class="card-body">
                 <div class="card-body" id="commentsOfPlace">
                   </div>
                    <script>

                      loadComments();
                      function loadComments() {
                        let id = placeId.value;
                        console.log(id)
                        let htmlCode = "";
                        var xmlHttp = new XMLHttpRequest();
                        xmlHttp.onreadystatechange = function () {
                          if (this.readyState == 4 && this.status == 200) {
                            let commentList = JSON.parse(this.responseText);
                            for (i = 0; i < commentList.length; i++) {

                                htmlCode +="<div className='col-md-12 col-lg-10'>"
                                htmlCode +="<div className='card text-dark'>"
                                htmlCode +="<div className='card-body p-4'>"
                                htmlCode +="<div className='d-flex flex-start'>"
                                htmlCode +="<div>"
                                htmlCode +="<h6 className='fw-bold mb-1'>"+commentList[i].user.fullName +"</h6>"
                                htmlCode +="<div className='d-flex align-items-center mb-3'>"
                                htmlCode +="<p className='mb-0'>"+ commentList[i].localDateTime +"</p>"
                                htmlCode +="</div>"
                                htmlCode +="<p className='mb-0'>"+ commentList[i].text +"</p>"
                                htmlCode +="</div>"
                                htmlCode +="</div>"
                                htmlCode +="</div>"
                                htmlCode +="</div>"
                                htmlCode +="</div>";
                            }
                          }
                          commentsOfPlace.innerHTML=htmlCode;
                        }
                        xmlHttp.open("GET","/comments/"+id,true);
                        xmlHttp.setRequestHeader("Content-Type", "application/json");
                        xmlHttp.send();
                      }

                      postComment.addEventListener('click', addNews)
                      function addNews(){

                        let json = {"text": commentText.value };
                        let id = placeId.value;
                        let body = JSON.stringify(json);
                        console.log(body)
                        const xhr = new XMLHttpRequest();
                        xhr.open("POST", '/comments/'+id, true);
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.onreadystatechange = function () {
                          // if(xhr.readyState===XMLHttpRequest.DONE && xhr.status===200) {

                            commentText.value = "";
                            loadComments();

                          // }
                        }
                        xhr.send(body);
                      }

                    </script>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>

