<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Small Business - Start Bootstrap Template</title>
  <link rel="icon" type="image/x-icon" href="/src/favicon.ico" />
  <link href="/css/styles.css" rel="stylesheet" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/css/styless.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <link href="/css/stylesss.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" th:href="@{'/home'}">Мой KZ</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/home'}">Главная страница</a></li>
        <li class="nav-item">
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-2 my-1 my-md-0">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Поиск ..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
              <button class="btn btn-outline-light" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Фари</div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutss" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Выберите регион
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayoutss" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="layout-static.html">Алматинская область</a>
              <a class="nav-link" href="layout-sidenav-light.html">Туркестанская область</a>
              <a class="nav-link" href="layout-static.html">Мангистауская область</a>
              <a class="nav-link" href="layout-static.html">Все регионы</a>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Личный кабинет
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{'/wantVisit'}">Хочу посетить</a>
              <a class="nav-link" href="layout-sidenav-light.html">Другое</a>
            </nav>
          </div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Страницы
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                Аутентификация
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="login.html">Login</a>
                  <a class="nav-link" href="register.html">Register</a>
                  <a class="nav-link" href="password.html">Сменить пароль</a>
                </nav>
              </div>
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                Error
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="401.html">401 Page</a>
                  <a class="nav-link" href="404.html">404 Page</a>
                  <a class="nav-link" href="500.html">500 Page</a>
                </nav>
              </div>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Дополнительно</div>
          <a class="nav-link"  href="#" data-bs-toggle="collapse" data-bs-target="#adminPanel" aria-expanded="false" aria-controls="pagesCollapseError">
            Админ панель
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="adminPanel" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="#">Добавить категорию</a>
              <a class="nav-link" href="#">Добавить место</a>
              <a class="nav-link" href="#">Добавить регион</a>
            </nav>
          </div>
          <a class="nav-link" href="tables.html">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Настройки
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <br>
      <div class="container">
        <div class="row">
          <!-- Blog entries-->
          <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">

              <a href="#!"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5842.045252330615!2d78.32307812676613!3d42.93564986660958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3886c0e5604528f3%3A0x4fb0bf36fe7869bb!2z0JrQvtC70YzRgdCw0LnRgdC60LjQtSDQvtC30ZHRgNCw!5e0!3m2!1sru!2skz!4v1675674899385!5m2!1sru!2skz" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </a>
              <div class="card-body" th:each="onp: ${onePlace}">
                <div class="small text-muted">January 1, 2022</div>
                <h1 class="card-title" th:text="${onp.name}"></h1>
                <b><p class="card-text" th:text="${onp.description}"></p></b>
                <p class="card-text" th:text="${onp.history}"></p>
                <form th:action="@{/addVisit}" method="post">
                <input type="hidden" th:value="${onp.id}" name="place_id">
                <button type="submit">Хочу посетить + </button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                  <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                  <div class="card-body">
                    <div class="small text-muted">January 1, 2022</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                  <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                  <div class="card-body">
                    <div class="small text-muted">January 1, 2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Side widgets-->
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-header">Какие то ссылки</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#!">ФФФФ</a></li>
                      <li><a href="#!">ААААА</a></li>
                      <li><a href="#!">ИИИИИ</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#!">ЫЫЫЫЫ</a></li>
                      <li><a href="#!">ЙЙЙЙЙЙ</a></li>
                      <li><a href="#!">ИИИИИИ</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
              <div class="card-header">Комментарии</div>
              <div class="card-body">

                          <div class="card-body" id="comment">
                            <script type="text/javascript">
                              loadComments();
                              function loadComments() {
                                let htmlCode = "";
                                var xmlHttp = new XMLHttpRequest();
                                xmlHttp.onreadystatechange = function () {
                                  if (this.readyState == 4 && this.status == 200) {
                                    let commentsList = JSON.parse(this.responseText);
                                    for (i = 0; i < commentsList; i++) {
                                      htmlCode+="<div class='d-flex flex-start align-items-center'>";
                                      htmlCode+="<div>";
                                      htmlCode+="<h6 class='fw-bold text-primary mb-1'>Lily Coleman</h6>";
                                      htmlCode+="<p class='text-muted small mb-0'>fjfgokdfgok </p>";
                                      htmlCode+="</div>"
                                      htmlCode+="</div>"
                                      htmlCode+="<h6 class='mt-3 mb-4 pb-2'>x;cfmgkod</h6>"
                                    }
                                  }
                                  comment.innerHTML=htmlCode;
                                }
                                xmlHttp.open("GET","/comments", true);
                                xmlHttp.send();
                              }
                            </script>
                          </div>


<!--                <div class="card-body">-->
<!--                  <div class="d-flex flex-start align-items-center">-->
<!--                    <div>-->
<!--                      <h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>-->
<!--                      <p class="text-muted small mb-0">-->
<!--                        Shared publicly - Jan 2020-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <h6 class="mt-3 mb-4 pb-2">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod-->
<!--                    tempor incididunt ut labore et dolore magna aliqua.-->
<!--                  </h6>-->
<!--                </div>-->




                          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                              <img class="rounded-circle shadow-1-strong me-3"
                                   src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                                   height="40" />
                              <div class="form-outline w-100">
                           <textarea class="form-control" id="textAreaExample" rows="4"
                          style="background: #fff;"></textarea>
                                <label class="form-label" for="textAreaExample">Message</label>
                              </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
                              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                            </div>
                          </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="js/chart-area-demo.js"></script>
<script src="js/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
